<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <title>Vota Random</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.3/dist/quasar.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <q-layout view="hHh lpR fFf">

        <q-header elevated class="bg-primary text-white">
          <q-toolbar>
            <!--<q-btn dense flat round icon="menu" @click="left = !left" />-->
    
            <q-toolbar-title>
              <!--
              <q-avatar>
                <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
              </q-avatar>
              -->
              Vota Random
            </q-toolbar-title>
          </q-toolbar>
        </q-header>
    
        <!--<q-drawer show-if-above v-model="left" side="left" bordered>
          
        </q-drawer>-->
    
        <q-page-container>
          <q-page class="q-pa-md">
            <q-stepper
              v-model="store.step"
              header-nav
              ref="stepper"
              color="primary"
              vertical
              animated
            >
              <q-step
                :name="0"
                title="Benvenuto a Vota Random!"
                icon="info"
              >
                <p>
                  Questo sito ti aiuta a votare, nel caso in cui <strong>nessun partito politico
                  ti soddisfi pienamente</strong>. Puoi escludere i partiti che ritieni del tutto
                  inaccettabili, e assegnare un voto (anche basso!) ai rimanenti partiti.
                </p>
                <p>
                  Vota Random sceglierà un partito a caso tra quelli a cui hai dato un voto.
                  La probabilità di estrazione sarà proporzionale al voto che hai indicato.
                  In questo modo potrai <strong>premiare</strong> i comportamenti virtuosi
                  dei partiti, e <strong>penalizzare</strong> le scelte scellerate: la probabilità
                  di votare ogni partito sarà tanto maggiore quanto più il partito si sarà
                  comportato bene, secondo la tua opinione.
                </p>
                <p>
                  Vota Random è nato per <strong>combattere l'astensionismo</strong>.
                  Astenersi non è
                  la risposta giusta alle scarsa coerenza dei politici, in quanto
                  indirettamente favorisce
                  i partiti a cui non daresti mai il tuo voto, e il voto di scambio.
                  Ricordiamoci inoltre che il voto è un diritto, ma anche un dovere!
                  Grazie a Vota Random potrai recarti con serenità nella cabina elettorale,
                  senza doverti turare il naso.
                </p>
                <q-stepper-navigation>
                  <q-btn @click="store.step++" color="primary" label="Inizia"></q-btn>
                </q-stepper-navigation>

              </q-step>
              <q-step
                :name="1"
                title="Partiti"
                icon="badge"
              >
                <p>
                  <strong>Inserisci il nome dei partiti</strong> tra i quali estrarremo quale
                  votare. I dati rimarranno sul tuo dispositivo: non saranno
                  trasmessi a server nostri o di terzi. Se preferisci, puoi usare nomi
                  fittizi per i partiti.
                </p>
                <party v-for="(p, index) in store.parties"
                  :partyobj="p"
                  :step="store.step"
                  :lastparty="index == store.parties.length - 1"
                  @renameparty="onRenameParty"
                  @ondegree="onDegree"
                  @onpercentage="onPercentage"
                >
                </party>

                <q-btn
                  flat
                  color="primary"
                  icon="add"
                  label="Aggiungi partito"
                  @click="addParty"
                  v-ripple v-if="store.step == 1">
                </q-btn>

                <q-stepper-navigation>
                  <q-btn @click="store.step++" color="primary" label="Continua"></q-btn>
                  <q-btn flat @click="store.step--" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
                </q-stepper-navigation>

              </q-step>

              <q-step
                :name="2"
                title="Valutazione"
                caption="(Facoltativo)"
                icon="grade"
              >
                <p>
                  Questo passo ti aiuta a valutare i partiti, e calcolare un voto complessivo
                  per ciascun partito. Lo puoi saltare: se hai le idee chiare, puoi
                  <a href="#" @click="store.step++">assegnare subito un voto ai partiti</a>.
                </p>
                <p>
                  Puoi disattivare i criteri di valutazione che non si applicano o ritieni poco
                  importanti.
                </p>
                <party v-for="(p, index) in store.parties"
                  :partyobj="p"
                  :step="store.step"
                  :lastparty="index == store.parties.length - 1"
                  @renameparty="onRenameParty"
                  @ondegree="onDegree"
                  @onpercentage="onPercentage"
                >
                </party>

                <q-stepper-navigation>
                  <q-btn @click="store.step++" color="primary" label="Continua"></q-btn>
                  <q-btn flat @click="store.step--" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
                </q-stepper-navigation>

              </q-step>

              <q-step
                :name="3"
                title="Voti"
                icon="assessment"
              >
                <p>
                  Vota Random ha assegnato un voto ad ogni partito. Hai la possibilità di modificare i voti come ritieni più opportuno.
                </p>
                <party v-for="(p, index) in store.parties"
                  :partyobj="p"
                  :step="store.step"
                  :lastparty="index == store.parties.length - 1"
                  @renameparty="onRenameParty"
                  @ondegree="onDegree"
                  @onpercentage="onPercentage"
                >
                </party>

                <q-stepper-navigation>
                  <q-btn @click="store.step++" color="primary" label="Continua"></q-btn>
                  <q-btn flat @click="store.step--" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
                </q-stepper-navigation>

              </q-step>

              <q-step
                :name="4"
                title="Estrai!"
                icon="how_to_vote"
              >
                <p>
                  Vota Random ha calcolato la percentuale di probabilità di votare
                  ciascun partito, proporzionale ai voti che hai indicato. La puoi
                  modificare se vuoi.
                </p>
                <p>
                  Quando sei pronto, premi il bottone <strong>Estrai</strong> per
                  scegliere casualmente il partito che voterai. Potrai fare tutte le
                  estrazioni che vuoi, per provare il sistema; quando avrai deciso di
                  svolgere l'estrazione definitiva, attieniti al risultato!
                </p>
                <p>
                  Se l'elezione prevede più schede (ad esempio, Camera e Senato), per
                  ciascuna di esse potrai svolgere una estrazione separata.
                </p>
                <party v-for="(p, index) in store.parties"
                  :partyobj="p"
                  :step="store.step"
                  :lastparty="index == store.parties.length - 1"
                  @renameparty="onRenameParty"
                  @ondegree="onDegree"
                  @onpercentage="onPercentage"
                >
                </party>

                <q-stepper-navigation>
                  <q-btn
                    color="primary"
                    icon="how_to_vote"
                    label="Estrai!"
                    @click="onVote"
                    v-ripple
                    v-if="store.step == 4">
                  </q-btn>
                  <q-btn flat @click="store.step--" color="primary" label="Indietro" class="q-ml-sm"></q-btn>
                </q-stepper-navigation>


              </q-step>

            </q-stepper>

            <div class="row justify-center q-mt-lg">
              &copy; 2022&nbsp;<a href="https://www.skeed.it">Luca Allulli</a>.
              Codice sorgente su&nbsp;<a href="https://github.com/lallulli/randomvote">GitHub</a>.
            </div>
            <div class="row justify-center">
              Questo sito non utilizza cookie e non raccoglie informazioni
              personali.
            </div>

          </q-page>
          <router-view />
        </q-page-container>
    
      </q-layout>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.3/dist/quasar.umd.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
